services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: real_estate_db
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - devops-network
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    # image: node:22-alpine
    working_dir: /workspace/backend
    command: sh -c "npm install --legacy-peer-deps && npm run start:dev"
    volumes:
      - .:/workspace:cached
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_NAME: real_estate_db
      JWT_SECRET: your_secret_key_change_in_production_12345
    depends_on:
      - db
    networks:
      - devops-network

  frontend:
    build: ./frontend
    # image: node:22-alpine
    working_dir: /workspace/frontend
    command: sh -c "npm install && npm run dev -- --host"
    volumes:
      - .:/workspace:cached
    ports:
      - "5173:5173"
    networks:
      - devops-network

  gitlab:
    image: gitlab/gitlab-ce:latest
    restart: always
    hostname: 'localhost'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8080'
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
        nginx['listen_port'] = 80
    ports:
      - "8080:80"
      - "443:443"
      - "2222:22"
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    networks:
      - devops-network
    shm_size: '256m'

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    restart: always
    depends_on:
      - gitlab
    volumes:
      - gitlab_runner_config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge

volumes:
  db_data:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
  gitlab_runner_config:
